@font-face {
    font-family: 'comfortaaregular';
    src: url('../fonts/comfortaa.regular-webfont.woff2') format('woff2'),
         url('../fonts/comfortaa.regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}